/* ------------------------------
            GENERAL
------------------------------ */


/* ------------------------------
            HEADER   
------------------------------ */
.menu {
    background-color: #0084FD; 
    position: fixed;
    z-index: 500;
}

.menu__desktop {display: none;}
.menu__desktop li {
    display: inline-block;
}

.menu__desktop a {
    display: block;
    color: white;
    padding: 20px;
}


/* --- RESPONSIVE --- */
@media screen and (min-width: 768px) {
    h1 {color: red;}
 
    
}

@media screen and (min-width: 1140px) {
    h1 {color: orange;}
    .menu_container {
        width: 80%;
        margin: 0 auto;
    }

    .menu__mobile {display: none;}

    .menu__desktop {display: inline-block;}
}

/* FINE • HEADER & MENÙ */

/* ------------------------------
            MAIN
------------------------------ */
    /* sezione hero 6 colonne  */
.hero {padding: 0px 30px;}

.col__hero, .col__hero__content { 
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 25px;
    height: 450px;
}

.col__hero__content-text {
    height: 50px;
    border: 1px solid red;
}

.col__hero__content-btn {
    height: 25px;
    border: 1px solid red;
}

.col__hero__content-img {
    height: 50px;
    border: 1px solid red;
}

/* --- RESPONSIVE --- */
@media screen and (min-width: 768px) {
    
    .col__hero {
        flex: 1 calc(100% / 3 - 30px);
        
    }
    .col__hero__content {
        flex: 2 calc((100% / 3 - 30px) * 2);
    }
    
}

@media screen and (min-width: 1140px) {
    
    .hero {padding: 0;}
    
    .row .hero:nth-child(2) {margin-top: 100px;}
    
    .container__hero {
        width: 80%;
        margin: 0 auto;
    }
    .col__hero {
        flex: 1 calc(100% / 3 - 30px);
        
    }
    .col__hero__content {
        flex: 2 calc((100% / 3 - 30px) * 2);
    }
}

/* FINE • hero section */

    /* sezione planning 2 colonne • foto + card  */
.plan {background-color: #9893E4;}
.container__plan {padding: 0 30px;}

.col__plan {
    width: 100%;
}

.content__plan__card {
    width: 100%;
    background-color: white;
    border-radius: 25px;

}

/* --- RESPONSIVE --- */
@media screen and (min-width: 768px) {


}


@media screen and (min-width: 1140px) {
    .container__plan {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .col__plan {
        width: calc(100% / 2 - 15px);
    }
}

/* FINE • plan section */

    /* sezione testimonial 4 colonne • h2 + 3 foto con text  */
.container__testimonial {
    padding: 0 30px;
}

.col__testimonial {width: 100%;}

.content__testimonial {
    width: 100%;
    background-color: #9893E4;
    border-radius: 25px;
    
}

.content__testimonial__img {
    width: 35%;
    height: 100px;
}

.content__testimonial__text {
    width: 65%;
    height: 200px;
}


    /* --- RESPONSIVE --- */
@media screen and (min-width: 768px) {
    .content__testimonial {
    flex-direction: row;
    }

}


@media screen and (min-width: 1140px) {
    .container__testimonial {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .content__testimonial {
        flex-direction: row;
    }
    

}

/* FINE • testimonial section */

    /* sezione future 6 colonne • h2 + 6 colonne  */
.future {background-color: #9893E4;}

.container__future {
    padding: 0 30px;
}

.col__future {width: 100%;}

.content__future {
    background-color: white;
    border-radius: 25px;
}


 /* --- RESPONSIVE --- */
 @media screen and (min-width: 768px) {

    .content__future__title {width: 100%;}

    .col__future {width: calc(50% - 30px);}


 }
 
 
 @media screen and (min-width: 1140px) {
    .container__future {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .content__future__title {width: 100%;}
    
    .col__future {width: calc(100% / 3 - 30px);}
 
 }
 
 /* FINE • future section */
 
    /* sezione about us 2 colonne • h2 + testo + foto + testo  */
.container__about-us {padding: 0 30px;}

.col__about-us__text {width: 100%;}

.col__about-us__card {width: 100%;}






 /* --- RESPONSIVE --- */
 @media screen and (min-width: 768px) {

    .col__about-us__text {width: calc(60% - 30px);}

    .col__about-us__card {width: calc(40% - 30px);}

 }
 
 
 @media screen and (min-width: 1140px) {
 
    .container__about-us {
        width: 80%;
        margin: 0 auto;
    }

    .col__about-us__text {width: calc(60% - 30px);}

    .col__about-us__card {width: calc(40% - 30px);}
 
 }
 
 /* FINE • about ua section */ 


    /* sezione call to action • h2/3 + text + button  */
.get-started {background-color: #9893E4;}

.container__get-started {padding: 0 30px;}

.col__get-started {width: 100%;}

 /* --- RESPONSIVE --- */
 @media screen and (min-width: 768px) {
    .container__get-started {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }


 }
 
 
 @media screen and (min-width: 1140px) {
 
    .container__get-started {
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }
 
 }
 
 /* FINE • call to action section */
 

/* ------------------------------
            FOOTER
------------------------------ */

.container__footer {
    padding: 0 30px;
    background-color: #353535;
}

.content__footer { }




/* --- RESPONSIVE --- */
@media screen and (min-width: 768px) {
    .content__footer {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }


 }
 
 
 @media screen and (min-width: 1140px) {
 
    .content__footer {
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }
 
 }
 
 /* FINE • FOOTER */

 /* ------------------------------
            FINE
------------------------------ */