/* ------------------------------
            GENERAL
------------------------------ */


/* ------------------------------
            HEADER   
------------------------------ */
.menu {
    background-color: #0084FD; 
    position: fixed;
}

.menu__desktop {display: none;}
.menu__desktop li {
    display: inline-block;
}

.menu__desktop a {
    display: block;
    color: white;
    padding: 20px;
}



/* ------------------------------
            MAIN
------------------------------ */
    /* sezione hero 6 colonne  */



    /* sezione planning 2 colonne • foto + card  */



    /* sezione partners 4 colonne • h2 + 3 foto con text  */




    /* sezione working with us 6 colonne • h2 + 6 colonne  */




    /* sezione about us 2 colonne • h2 + testo + foto + testo  */




    /* sezione call to action • h2/3 + text + button  */




/* ------------------------------
            FOOTER
------------------------------ */



#B5DDFF;