/* ------------------------------
            INDEX CSS
------------------------------ */
@import url("./utility.css");

            /* FINE  */

/* ------------------------------
            COMMON &
        CUSTOM PROPERTIES
------------------------------ */
:root {
    --bg-menu: #0084FD;
    --first-color: #B5DDFF;
    --second-color: #9893E4;
    --footer-color: #353535;
    --first-color-title: #9893E4;
    --second-color-title: #0084FD;
    --third-color-title: #FEC260;
    --second-color-text: #fff;
    --third-color-text: #9893E4;
}


            /* FINE  */

/* ------------------------------
            DEBUG   
------------------------------ */
.debug header::before {
    content: 'MOBILE';
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: blue;
    color: white;
    padding: 15px 25px;
}

.debug .content:empty {height: 350px;}


            /* FINE  */


/* ------------------------------
            LAYOUT
------------------------------ */
.container {padding: 0 30px;}

.col {
    width: 100%;
    border-radius: 25px;
}

.content {padding: 25px;}

/* ------------------------------
            HEADER   
------------------------------ */
#hero > .container {padding-top: 140px;}
.menu {
    background-color: var(--bg-menu); 
    position: fixed;
    z-index: 500;
}

.fa-bars {
    font-size: 30px;
    filter: invert(100%);
}

.menu__desktop {display: none;}
.menu__desktop li {
    display: inline-block;
}

.menu__desktop a {
    display: block;
    color: white;
    padding: 20px;
}

a.btn {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

    /* FINE • HEADER & MENÙ */



/* ------------------------------
            MAIN
------------------------------ */
    /* sezione hero 6 colonne  */
#hero .col {
    background-color: var(--first-color);
    border-radius: 25px;
}

#hero h1, 
#hero h3 {
    font-size: 25px;
    color: var(--second-color-title)}

#hero button.btn {
    background-color: var(--bg-menu);
    border-radius: 25px;
    width: 85%;
    color: #fff;
    margin: 35px 0 50px;
}

#hero img {
    display: block;
    max-width: 250px;
    margin: 15px auto 0;
}

#hero .content__get-demo {
    margin-bottom: 0;
    padding-bottom: 0;
}

.col__hero h3, .col__hero p {text-align: center;}

.col__hero i.fas {
    display: block;
    text-align: center;
    font-size: 60px;
    color: var(--second-color-title);
    margin-bottom: 30px;
}

/* FINE • hero section */


    /* sezione planning 2 colonne • foto + card  */
#planning {background-color: var(--second-color);}

#planning h3, #planning p {color: var(--second-color-text);}

#planning .col:nth-child(2) {align-self: flex-end;}

.content__plan__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color-text);
    color: #000;
    border-radius: 25px;
    align-self: flex-end;
}

#planning .content__plan__card p {color: #000; font-style: italic;}

#planning .content__plan__card img {width: 50%;}

#planning i.fas {
    margin-top: 35px;
    display: inline-block;
    font-size: 25px;
    background-color: var(--first-color-title);
    padding: 18px;
    border-radius: 50%;
}


/* FINE • plan section */

    /* sezione testimonial 4 colonne • h2 + 3 foto con text  */

#testimonials .content {
    background-color: var(--second-color);
    border-radius: 25px;   
}

.content__testimonial__title {text-align: center;}

.content__testimonial__title h3 {color: var(--first-color-title);}


.content__testimonial__img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.testimonial-1 {background: center/cover url('../img/testimonial1.jpg');}
.testimonial-2 {background: center/cover url('../img/testimonial2.jpg');}
.testimonial-3 {background: center/cover url('../img/testimonial3.jpg');}

.content__testimonial__text {
    text-align: center;
    color: #fff;
}

.content__testimonial__text p::before {
    content: "“ ";
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;
}
.content__testimonial__text p::after {
    content: " ”";
    font-size: 30px;
    line-height: 0;
    vertical-align: text-bottom;
}

/* FINE • testimonial section */

    /* sezione future 6 colonne • h2 + 6 colonne  */
#future {background-color: var(--first-color-title)}

.content__future {
    background-color: white;
    border-radius: 25px;
}
#future h3 {color: var(--second-color-text);}

#future .content__future h3, .content__future h4 {color: var(--third-color-text);}

.content__future h3 {font-size: 50px;}

.content__future .btn {
    background-color: var(--second-color);
    color: var(--second-color-text);
    padding: 8px 45px;
    border-radius: 20px;
}
 /* FINE • future section */
 

    /* sezione about us 2 colonne • h2 + testo + foto + testo  */
#about-us h2 {color: var(--first-color-title);}

    .content__about-us__img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.round-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-us__img {margin: 0 auto; position: relative; width: 200px;}

.about-us__img i.fa-quote-left {
    position: absolute;
    right: -10px;
    top: -15px;
    font-size: 60px;
    color: var(--second-color);
}

.content__abuot-us__img p {
    font-weight: 500;
    color: var(--third-color-text);
}

.content__abuot-us__img .btn {
    font-size: 12px;
    background-color: var(--second-color);
    color: var(--second-color-text);
    padding: 8px 25px;
    border-radius: 20px;
}

.content__abuot-us__img button i.fab {
    color: var(--second-color-text);
}

 /* FINE • about ua section */ 


    /* sezione call to action • h2/3 + text + button  */
#get-started {background-color: #9893E4;}

.content__get-started {
    color: var(--second-color-text);
    text-align: center;
}

p.title {
    font-size: 40px;
    font-weight: 500;
}

.content__get-started h2 {
    font-size: 65px;
    font-weight: 900;
    color: var(--third-color-title);
}

.content__get-started button.btn {
    padding: 10px 45px;
    border-radius: 25px;
}
 
 /* FINE • call to action section */
 

/* ------------------------------
            FOOTER
------------------------------ */
footer {background-color: var(--footer-color);}

.content__footer {
    font-size: 12px;
    text-align: center;
    color: var(--second-color-text);
 }
.content__bub-footer{
    font-size: 15px;
    text-align: center;
    color: var(--second-color-text);
}
 footer .content__bub-footer p a {
    color: var(--first-color-title);
 }

 .content__bub-footer a.home {
    display: block;
    margin-top: 15px;
    color: var(--third-color-text);
    text-decoration: underline;
 }


 
 /* FINE • FOOTER */


/* -------------------------
         RESPONSIVE 
------------------------- */

    /* --- TABLET --- */
    @media screen and (min-width: 768px) {
        .debug header::before {
            content: 'TABLET';
            background-color: lawngreen;
        }

        .col__hero {flex: 1 calc(100% / 3 - 30px);}

        .col__hero__card {flex: 2 calc((100% / 3 - 30px) * 2);}

        #hero button.btn{width: 75%;}

        #hero img {width: 70%;}
        
        .col__hero i.fas {font-size: 85px; margin-bottom: 50px;}
        
        /* testimonial */
        #testimonials .content {display: flex; gap: 20px; align-items: center;}

        /* future */
        #future .col {width: calc(50% - 15px);}

        .content__future__title {width: 100%;}

        /* abuot */
        .about-us__text {width: calc(60% - 30px);}

        .about-us__card {width: calc(40% - 30px);}

        /* call to action */
        .container__get-started {
            width: 80%;
            margin: 0 auto;
            
        }
        
    }
    
    
        /* --- DESKTOP --- */
    
    @media screen and (min-width: 1140px) {
        .debug header::before {
            content: 'DESKTOP';
            background-color: orange;
        }
        /* container */
        .container {
            width: 80%;
            margin: 0 auto;
        }
        
        /* menu */
        .menu__mobile {display: none;}
    
        .menu__desktop {display: inline-block;}
        
        /* hero */
        .col__hero {flex: 1 calc(100% / 3 - 30px);}

        .col__hero__card {flex: 2 calc((100% / 3 - 30px) * 2);}

        #hero button.btn {margin-bottom: 70px;}

        #hero .content__get-demo {display: flex; gap: 25px; margin-bottom: 0; padding-bottom: 0;}

        #hero img {width: 100%;}

        #hero .content__get-demo__download {width: 55%;}

        #hero .content__get-demo__img {width: 45%; align-self: flex-end;}

        .col__hero i.fas {font-size: 100px;}       
       
       /* planning */
        #planning .col {width: calc(100% / 2 - 15px);}

        /* testimonial */
        #testimonials .content {display: flex; gap: 20px; align-items: center;}
    
        /* future */
        #future .col {width: calc((100% - (2 * 30px)) / 3 );}
    
        .content__future__title {width: 100%;}

        /* about */
        .col__about-us__text {width: calc(60% - 30px);}

        .col__about-us__card {width: calc(40% - 30px);}

        /* call to action */
        .content__footer {
            width: 60%;
            margin: 0 auto;
        }

    }
    
    
        /* --- DESKTOP LARGE --- */
    
    @media screen and (min-width: 1200px) {
        .debug header::before {
            content: 'DESKTOP LARGE';
            background-color: red;
        }
        .container {max-width: 1200px;}
    
    
    }
                
        
    
 /* ------------------------------
            FINE
------------------------------ */
